@media (min-width: 768px) {
  /* GALLERY DESKTOP */

  /**/
  html {
    scroll-behavior: smooth;
  }

  .gallery_seeMoreButton{
    justify-content: center;
  }

  .mobile-locationP {
    display: none;
  }
  .navbar {
    height: 100px;
    margin-bottom: 50px;
    align-items: center;
    background-color: black;
    width: 100%;
    background: linear-gradient(#00000090, #00000000);
    display: flex;
  }

  .ponuda-nav {
    font-size: 20px;
    box-shadow: 2px 3px 20px #000000;
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.092);
    color: white;
    transition: all 0.3s;
  }

  .ponuda-nav:hover {
    background-color: rgba(255, 255, 255, 0.857);
    color: rgb(0, 0, 0);
    cursor: pointer;
  }

  .navbar ul {
    display: flex;
    justify-content: space-around;
    width: 60vw;
    margin-left: 7rem;
  }

  .navbar ul li a {
    padding: 0.5rem 1rem;
    transition: all 0.3s;
    font-size: 1.15rem;
    color: white;
    text-decoration: none;
  }

  .navbar ul li:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.596);
  }

  .navbar img {
    height: 4vw;
    position: absolute;
    right: 5%;
    filter: drop-shadow(0 0 0.35rem rgba(0, 0, 0, 0.508));
  }

  .image-section__location {
    position: absolute;
    bottom: 50px;
    left: 50px;
  }

  .image-section h1 {
    font-size: 20px;
  }
  .image-section {
    background-position: center;
    background-size: cover;
    height: 70vh;
    position: relative;
    background-repeat: no-repeat;
    background-image: url(/materijali/newcover.webp);
  }

  .solid {
    background-color: #fff500;
    height: 3px;
    width: 80%;
  }
  .image-section__textblock {
    position: absolute;
    right: 5%;
    bottom: 0;
    display: flex;
    margin: 0px 0px 30px 0px;
    font-size: 1rem;
    width: 20%;
    flex-direction: column;
  }

  .menu-btn {
    display: inline-block;
  }

  .novaSezona-section {
    padding: 2rem;
    display: block;
  }

  .nS_title {
    font-family: "EDO", fallback-fonts, sans-serif;
    color: #fff500;
    filter: drop-shadow(0 0 0.35rem rgb(0, 0, 0));
    font-size: 35px;
  }

  .usluge-section {
    background: radial-gradient(
      circle,
      rgb(234, 234, 234) 0%,
      rgb(255, 255, 255) 100%
    );
    display: block;
    background-repeat: no-repeat;
    background-position: center;
  }
  .logousluge {
    display: none;
  }
  .usluge-naslov {
    right: 50%;
  }
  .usluge-section__titles {
    position: relative;
    width: 100%;
    height: 80px;
  }
  .usluge-section__content {
    width: 100%;
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .component {
    height: 30rem;
    background-color: #4f785e;
    margin: 5px;
    background-position: center;
    font-size: 12px;
    text-align: left;
    background-size: cover;
    flex-basis: 20%;
    background-color: lightgray;
  }

  .component h1 {
    margin: 15px 0px 0px 15px;
  }

  .component5 {
    flex-basis: calc(80% + 30px);
    height: 20rem;
    background-image: linear-gradient(0deg, transparent, #0000008f),
      url(/materijali/Screenshot\ 2023-06-08\ at\ 13.39.36.webp);
    background-size: cover;
  }
  .usluge-naslov {
    font-family: "EDO", fallback-fonts, sans-serif;
    color: #fff500;
    filter: drop-shadow(0 0 0.35rem rgb(0, 0, 0));
    position: absolute;
    font-size: 35px;
  }
  .n1 {
    font-size: 3.5rem;
  }
  .n2 {
    top: 5rem;
    font-size: 3.5rem;
  }
  .image-section__location i {
    margin-top: 25px;
    width: 25px;
    height: 10%;
  }

  .gallery-section {
    color: black;
  }
  .gallery-section h1,
  .gallery-section p {
    display: block;
    text-align: center;
  }
  .gallery-section h1 {
    font-size: 3rem;
    font-family: "EDO";
  }

  .video-presentation-section {
    width: 30%;
  }
  .social-media-icons {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .social-media-icons svg {
    margin: 0.5rem;
  }
  .testimonial-section {
    background-color: black;
    display: block;
    text-align: center;
    padding: 2.5rem;
  }
  .testimonial-section h1 {
    font-family: "EDO";
    margin: 0rem 0rem 0rem 0rem;
  }
  .contact-section {
    display: inline-block;
    text-align: left;
    color: black;
    width: 100%;
    padding: 3rem 0rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .contact-section h1 {
    font-family: "EDO";
  }
  .contact-section h2,
  .contact-section p {
    text-align: left;
  }
  .contact-section input {
    height: 1rem;
    border: 1px solid black;
    width: 80%;
    padding: 1rem;
  }

  .gallery-p {
    margin: 5rem 3rem;
    width: 50ch;
    text-align: center;
    font-size: 1.1rem;
  }

  .footer {
    background-color: #063116;
    background: linear-gradient(#010201, #000000);
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .footer-wrapper {
    display: flex;
    width: 100%;
  }
  .footer-wrapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footer h1 {
    font-family: "EDO";
  }
  .footer p {
    color: rgba(249, 249, 249, 0.805);
    font-size: 13px;
  }
  .footer h3 {
    margin-top: 2rem;
  }
  .footer p {
    text-decoration: none;
  }
}
