body {
  margin: 0;
  background-color: white;
  font-family: "FUTURA", fallback-fonts, sans-serif;
  color: white;
  scroll-behavior: smooth;
  top: 0px !important;
  line-height: 1.6rem;
}


.image-overlay {
  position: absolute;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); /* 40% black overlay */
  z-index: 0;
}

.skiptranslate {
  display: none;
}
#google_translate_element div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav,
div {
  display: flex;
}

@font-face {
  font-family: "EDO";
  src: url("/materijali/edo.ttf");
}
@font-face {
  font-family: "FUTURA";
  src: url("/materijali/Futura\ Medium.otf");
}
.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 8px solid #34624d;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.green-button {
  margin-top: 5ch;
  margin-bottom: 5ch;
  border: 0;
  padding: 1rem;
  background-color: #4f785e;
  color: white;
  width: 10rem;
  font-size: 1rem;
}

.green-button:hover {
  background-color: #34624d;
  cursor: pointer;
}

.navbar {
  height: 100px;
  margin-bottom: 50px;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.navbar ul {
  display: none;
}

.navbar img {
  height: 45px;
  position: absolute;
  right: 10%;
  filter: drop-shadow(0 0 0.35rem rgb(0, 0, 0));
}

.image-section__location {
  position: absolute;
  top: 100px;
  left: 15px;
}

.image-section h1 {
  font-size: 20px;
}

.image-section {
  background-position: center;
  height: 70vh;
  position: relative;
  /* background-repeat: no-repeat;
  background-image: url(/materijali/buk.jpg); */
}

#bg-video,
#bg-video2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -10;
  transform: scaleX(1), scaleY(-1);
}

#mute-button {
  position: absolute;
  bottom: 30px;
  right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
}

#mute-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.solid {
  background-color: #fff500;
  height: 3px;
  width: 50%;
}
.image-section__textblock {
  position: absolute;
  bottom: 0;
  display: block;
  margin: 20px;
  font-size: 13px;
}
.menu-btn {
  display: inline-block;
}

.usluge-section {
  position: relative;
  background-image: linear-gradient(0deg, transparent, #ffffffbe),
    url(../materijali/4931029.webp);

  background-size: 500px;
  display: block;
}
.usluge-section__titles {
  position: relative;
  width: 100%;
  height: 80px;
}
.usluge-section__content {
  width: 100%;
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.component {
  height: 250px;
  background-color: #4f785e;
  background-size: 300px;
  margin: 5px;
  background-position: center;
  font-size: 12px;
  text-align: left;
  flex-basis: 45%;
  background-color: lightgray;
}

.component:hover {
  cursor: pointer;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.583);
}
.component h1 {
  margin: 15px 0px 0px 15px;
}
.component1 {
  background-image: linear-gradient(0deg, transparent, #0000008f),
    url(../materijali/newbgnd.webp);
}
.component2 {
  background-image: linear-gradient(0deg, transparent, #0000008f),
    url(../materijali/background.webp);
}
.component3 {
  background-image: linear-gradient(0deg, transparent, #0000008f),
    url(../materijali/smjestaj.webp);
}
.component4 {
  background-image: linear-gradient(0deg, transparent, #0000008f),
    url(../materijali/avanture.webp);
}

/* .component5 {
  flex-basis: calc(90% + 10px);
  height: 200px;
  background-image: linear-gradient(0deg, transparent, #0000008f),
    url(../materijali/ekstra.png);
  background-size: cover;
} */
.usluge-naslov {
  font-family: "EDO", fallback-fonts, sans-serif;
  color: #fff500;
  filter: drop-shadow(0 0 0.35rem rgb(0, 0, 0));
  position: absolute;
  font-size: 35px;
}
.n1 {
  right: 7rem;
  top: 2rem;
  font-size: 40px;
}
.n2 {
  right: 2rem;
  top: 4rem;
  font-size: 40px;
}
.image-section__location i {
  margin-top: 25px;
  width: 25px;
}
.ekipa-section {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: black;
}
.ekipa-section h1 {
  font-family: "EDO";
  margin-top: 50px;
  font-size: 3rem;
  margin-bottom: 0;
}
.ekipa__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  width: 100%;
  text-align: center;
}
.ekipa-section h2,
h3 {
  margin: 0;
}
.ekipa-section h3 {
  font-weight: 100;
}
.ekipa__title p {
  font-size: 13px;
  margin: 20px;
  text-align: center;
}
.profile-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
}
.profile-card {
  display: block;
  margin-top: 50px;
}
.profile-card div {
  width: 80vw;
}
.profile-card__image {
  background-color: rgb(35, 35, 35);
  background-image: url(../materijali/bukpozadina.webp);
  background-size: 400px;
  background-position: center;
  height: 150px;
}
.profile-card__content {
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.299);
  border-bottom-right-radius: 15px;
  position: relative;
  display: block;
  justify-content: center;
  padding-top: 3.5rem;
  text-align: center;
  padding-bottom: 1.5rem;
  margin-bottom: 50px;
}
.profile-card__circle {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  position: absolute;
  top: -80px;
  left: 31%;
  background-color: #fff500;
  border: 3px solid #ffffff;
}

.card2 div {
  width: 11rem;
  margin: 0.5rem;
}
.circle2 {
  height: 100px;
  width: 100px;
  left: 20%;
  top: -50px;
}
.content2 h2 {
  margin-top: 1rem;
}
.content2 {
  height: auto;
  padding-bottom: 2rem;
}
.gallery-section {
  color: black;
}
.gallery-section h1,
.gallery-section p {
  display: block;
  text-align: center;
}
.gallery-section h1 {
  font-size: 3rem;
  font-family: "EDO";
}
.gallery_seeMoreButton{
  width: 100%; 
  justify-content: center;
  margin-top: 2rem;
}
.video-presentation-section {
  color: black;
  text-align: center;
  position: relative;
}
.video-presentation-section.height {
  height: 70vh;
}

.h1videopres {
  color: black;
  text-align: center;
  margin-bottom: 2rem;
  font-family: "EDO";
  line-height: 1.9rem;
}
.social-media-icons {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.social-media-icons svg {
  margin: 0.5rem;
}
.testimonial-section {
  background-color: rgb(10, 10, 10);
  display: block;
  text-align: center;
  margin-top: 2rem;
  padding: 2.5rem;
}
.testimonial-section h1 {
  font-family: "EDO";
  margin: 0rem 0rem 0rem 0rem;
}
.contact-section {
  display: inline-block;
  text-align: left;
  color: black;
  padding: 2.5rem;
}
.contact-section h1 {
  font-family: "EDO";
}
.contact-section h2,
.contact-section p {
  text-align: left;
}
.contact-section input {
  height: 1rem;
  border: 1px solid black;
  width: 80%;
  padding: 1rem;
}

.footer {
  background-color: rgb(10 10 10);
  display: inline-block;
  width: 100%;
  text-align: center;
}

.footer h1 {
  text-align: center;
  font-family: "EDO";
}

.footer-wrapper {
  display: flex;
  width: 100%;
}
.footer-wrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer p {
  color: rgba(249, 249, 249, 0.805);
  font-size: 13px;
  z-index: 10;
  text-decoration: none;
}
.footer h3 {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .gallery, .image-overlay{
    display: none;
  }
  .teamParagraphsHalf {
    width: 90% !important;
  }
  .profile-cards {
    width: 100%;
  }
  .desktop-locationP {
    display: none;
  }
  .image-section {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.616), transparent),
      url(../materijali/raftingsl.webp);
    background-size: cover;
    background-color: white;
  }
  /* #mute-button,
  #bg-video {
    display: none;
  } */
}
