.wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #fff;
  clip-path: circle(25px at calc(100% - 45px) -25px);
  transition: all 0.3s ease-in-out;
  z-index: 3;
  color: black;
  font-family: inherit;
  font-family: "Lato", sans-serif;
  font-family: "Oswald", sans-serif;
  text-align: center;
}
.wrapper a {
  text-align: left;
}
#active:checked ~ .wrapper {
  clip-path: circle(75%);
}
.menu-btn {
  position: fixed;
  z-index: 4;
  left: 20px;
  top: 1.5rem;
  height: 25px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn {
  color: #000;
}
#active:checked ~ .menu-btn i:before {
  content: "\f00d";
}
.wrapper ul {
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper ul li {
  text-align: left;
  display: flex;
  width: 100%;
  justify-content: center;
}
.wrapper ul li a {
  color: transparent;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  color: #000;
  border-radius: 50px;
  background: #fff;
  padding: 1rem;
  position: relative;

  transition: all 0.3s ease;
}

.wrapper ul li a:hover:after {
  transform: scaleY(1);
}
.wrapper ul li a:hover {
  color: #000;
}
input[type="checkbox"] {
  display: none;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: left;
  width: 100%;
  color: #202020;
}
.content .title {
  font-size: 40px;
  font-weight: 700;
}
.content p {
  font-size: 35px;
  font-weight: 600;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.menu-btn.close {
  flex-direction: row;
  align-items: center;
  z-index: 5;
}

.menu-btn.close div {
  width: 3px;
  height: 35px;
}

.menu-btn.close div:first-child {
  transform: rotate(45deg);
}

.menu-btn.close div:last-child {
  transform: rotate(-45deg);
}

.menu-btn.close div:nth-child(2) {
  display: none;
}
.menu-image {
  position: absolute;
  height: 10%;
  right: 40px;
  top: 40px;
}
.wrapper {
  position: fixed;
  height: 100%;
  width: 0; /* initially, width is set to 0 */
  background: #fff;
  transition: all 0.3s ease-in-out;
  z-index: 3;
  color: black;
  font-family: inherit;
  font-family: "Lato", sans-serif;
  font-family: "Oswald", sans-serif;
  overflow: hidden; /* prevents overflow when width is 0 */
}

#active:checked ~ .wrapper {
  width: 75%; /* expands to 75% width when active */
}
