.image-section {
    background-image: linear-gradient(180deg, transparent, #0000008f),
      url(/materijali/rafting.JPG);
  }
  .solid {
    background-color: greenyellow;
    width: 5rem;
  }
  .image-section__textblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .rafting-section {
    background-image: none;
    color: black;
    padding: 3rem;
    display: block;
  }
  .rafting-section h2 {
    font-family: "EDO";
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  
  /* DESKTOP VERSION */
  
  @media (min-width: 768px) {
    .image-section__textblock {
      margin-left: 3rem;
      display: inline-block;
      width: auto;
    }
    .rafting-section h2 {
      text-align: left;
    }
    h1 {
      text-align: left;
    }
    .image-section {
      background-image: linear-gradient(180deg, transparent, #0000008f),
        url(/materijali/buk.webp);
    }
    .image-section__location{
        display: none;
    }
    .text-wrapper{
      width: 50%;
    }
  }
  