.image-section {
  background-image: linear-gradient(180deg, transparent, #000000ea),
    url(/materijali/ripac.webp);
  background-size: cover;
}
.solid {
  background-color: rgb(255, 104, 49);
}
.ignore-padding {
  box-sizing: border-box;
}
.green-button {
  margin: 3.5rem 0 3.5rem 0;
}
.rafting-section {
  padding: 0;
}
.text-wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
#carousel__slide1 {
  background-image: url(/materijali/image00004.webp);
}
#carousel__slide2 {
  background-image: url(/materijali/image00002.webp);
}
#carousel__slide3 {
  background-image: url(/materijali/image00003.webp);
}
#carousel__slide4 {
  background-image: url(/materijali/image00001.webp);
}
#carousel__slide5 {
  background-image: url(/materijali/image00005.webp);
}
#carousel__slide6 {
  background-image: url(/materijali/image00006.webp);
}
#carousel__slide7 {
  background-image: url(/materijali/image00007.webp);
}
#carousel__slide8 {
  background-image: url(/materijali/image00008.webp);
}
#carousel__slide9 {
  background-image: url(/materijali/image00009.webp);
}
#carousel__slide10 {
  background-image: url(/materijali/image00010.webp);
}

.gallery {
  display: none;
}

@media (min-width: 780px) {
  .carousel {
    display: none;
  }
  .gallery {
    display: flex;
  }
  .image-section {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.250), #000000f4),
      url(/materijali/planinakuca.webp);
  }
}
